.picker {
    z-index: 15000 !important;
    animation-name: picker-fadein;
    animation-duration: 0.5s;
}

.picker:not(.picker-dialog-bg) {
    display: block !important;
}

.picker[style*="display: none;"] {
    animation-name: picker-fadeout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.picker-dialog-bg {
    display: none;
}

@keyframes picker-fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes picker-fadeout {
    0% { opacity: 1 }
    99% { opacity: 0 }
    100% { opacity: 0; visibility: hidden; }
}
