.menubar {
    width: 100%;
    height: 68px;
    flex-direction: row;
    display: flex;
}

.menubar-title {
    font-size: 20px;
    padding-left: 15px;
    line-height: 42px;
}

.menubar > .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.menubar > .container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.puush {
    flex: 1;
}

.tex-docs-button {
    background-color: orange;
    height: 100%;
    width: 52px;
    text-align: center;
}
