.menubar {
    width: 100%;
    height: 68px;
    flex-direction: row;
    display: flex;
}

.menubar-buttons {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menubar-title {
    font-size: 20px;
    padding-left: 15px;
    line-height: 42px;
}

.menubar > .container {
    width: calc(100% - 52px - 15px - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.menubar > .container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.puush {
    flex: 1;
}

.last-edit {
    padding-left: 15px;
}

.tex-docs-button {
    background-color: orange;
    height: 100%;
    width: 52px;
    text-align: center;
}
